.threads-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  /* pointer-events handled dynamically in component based on enableMouseInteraction */
}

.threads-container canvas {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Canvas itself doesn't need to be interactive, but container does for mouse tracking */
}
